language: php

php:
  - '7.1'

before_script:
  - composer self-update
  - composer global require hirak/prestissimo
  - composer install --prefer-source --no-interaction --dev
  - mkdir -p build/logs

script:
 - php vendor/bin/phpunit --configuration phpunit.xml --coverage-clover build/logs/clover.xml tests